<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 必须的 meta 标签 -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap 的 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <title>学生主页</title>
</head>
<body>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="/sindex" th:text="${session.UserSession.username}">个人主页</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/login">退出登陆</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/main">选课</a>
    </li>
</ul>
<label style="color: red">您还没有选课！</label>
<div>已选课表:</div>
<table class="table">
    <thead>
    <tr>
        <th>课程名</th>
        <th>学分</th>
        <th>授课老师</th>
        <th>限选人数</th>
        <th>已选人数</th>
        <th>简介</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>课程名</td>
        <td>学分</td>
        <td>授课老师</td>
        <td>限选人数</td>
        <td>已选人数</td>
        <td>简介</td>
    </tr>
    </tbody>
</table>
</body>
</html>