<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap 的 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <title>新增选课</title>
    <script th:inline="javascript">
    </script>
</head>
<body>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="/Tmain" th:text="${session.UserSession.username} + ' 老师'">个人主页</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Tlogin">退出登陆</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Tmain">退出编辑</a>
    </li>
</ul>
<form action="/NewEdit" method="post"><!--method="get"-->
    <h1 align="center">新增选课</h1>
    <table align="center">
        <tr>
            <td>课程代码：</td>
            <td>
                <input type="number" name="cid" th:value="${coursetemp.cid}" required="required">
            </td>
            <td>
                <label style="color: red" th:text="${msg}"></label>
            </td>
        </tr>
        <tr>
            <td>课程名称：</td>
            <td>
                <input type="text" name="cname" th:value="${coursetemp.cname}" required="required">
            </td>
        </tr>
        <tr>
            <td>学分：</td>
            <td>
                <input type="text" name="credit" th:value="${coursetemp.credit}" required="required">
            </td>
        </tr>
        <tr>
            <td>授课老师：</td>
            <td>
                <input type="text" name="teacher" th:value="${coursetemp.teacher}" required="required">
            </td>
        </tr>

        <tr>
            <td>限选人数：</td>
            <td>
                <input type="number" name="Slimit" th:value="${coursetemp.Slimit}" required="required">
            </td>
        </tr>

        <tr>
            <td>简介：</td>
            <td>
                <textarea rows="5" cols="23" name="introduce" th:value="${coursetemp.introduce}" required="required"></textarea>
            </td>
        </tr>

        <tr>
            <td><input type="reset" value="重置" class="btn btn-danger"></td>
            <td><input type="submit" value="提交" class="btn btn-primary"></td>
        </tr>
    </table>

</form>


</body>
</html>