<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap 的 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <title>学生注册</title>
    <script th:inline="javascript">
    </script>
</head>
<body>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="/login">学生登陆</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Tlogin">教师登陆</a>
    </li>
</ul>
<div style="width:100%;text-align:center">
<div>学生注册</div>
<form action="/register" method="post">
    <label style="color: red" th:text="${msg}"></label>
    <p>用户账号<input type="text" name="userid" required="required"/></p>
    <p>用户名<input type="text" name="username" required="required"/></p>
    <p>新密码<input type="password" name="password" required="required"/></p>
    <input type="submit" class="btn btn-info" value="注册"/>
</form>
</div>
</body>
</html>